

{% extends 'layouts/base.html' %}

{% block title%}Page d'accueil {% endblock %}




{% block content %}
{% load static %}

<ul class="media">
  <li class="bulle"><img src="{% static 'images/facebook(1).png'%}" class="logo-medias"></li>
  
</ul>


  <div class="centre">
    

    <p class="titreaccueil">Solutions informatiques</p>
    
  
    <p class="solution">Réparation pc/smartphone - Création site/application -  Remise a niveau pc</p> 
  

  </div>


<p><a href="{% url 'blog:index'%}">Visiter notre Blog</a></p>
{% endblock %}

