{% extends 'layouts/base.html' %}


{% block title%}about {% endblock %}

{% block content %}
  
  

<div class="aboutus">
  <p class="aboutustitleprincipal">Repair and it creation met a votre disposition different service </p>
  <p class="aboutustitle">Reparation </p>
 
  
  <ul>
    <li>Ecran cassé</li>
    <li>problèmes de son</li>
    <li>batterie defectueuse</li>
    <li>problème de clavier</li>
  </ul>

  <p class="aboutustitle">Site web et application</p>
  <p>création sur mesure de vos sites et vos application</p>
  <p class="aboutustitle">Remise a niveau pc</p>
  <p>pc trop lent, virus ou spam j ai la solution a votre problème</p>


</div>



{% endblock%}